## Uber_rides_

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
df = pd.read_excel(r"D:\Data Sets\uber_rides_data.xlsx")

In [3]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

#### Data set hav 200000 rows and 8 columns

In [4]:
# Data understanding
print(df.shape)
print(df.dtypes)
print(df.describe())

(200000, 8)
ride_id                int64
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object
            ride_id    fare_amount  pickup_longitude  pickup_latitude
count  2.000000e+05  200000.000000     200000.000000    200000.000000  \
mean   2.771250e+07      11.359955        -72.527638        39.935885
std    1.601382e+07       9.901776         11.437787         7.720539
min    1.000000e+00     -52.000000      -1340.648410       -74.015515
25%    1.382535e+07       6.000000        -73.992065        40.734796
50%    2.774550e+07       8.500000        -73.981823        40.752592
75%    4.155530e+07      12.500000        -73.967153        40.767158
max    5.542357e+07     499.000000         57.418457      1644.421482

       dropoff_longitude  dropoff_latitude  passenger_count
count      199999.000000     199999.000000    200000.000000
mean          -72.525292         39.923890         1.684535
std            13.117408          6.794829         1.385997
min         -3356.666300       -881.985513         0.000000
25%           -73.991407         40.733823         1.000000
50%           -73.980093         40.753042         1.000000
75%           -73.963658         40.768001         2.000000
max          1153.572603        872.697628       208.000000

#### In ubesr data there is Two intiger acollumn, one object & 5 float

In [5]:
# Missing values
df.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [6]:
# Assuming you have a DataFrame named df with a 'fare_amount' column
# First, remove rows with null values in the 'fare_amount' column
df_cleaned = df.dropna(subset=['fare_amount'])

# Then, calculate the average fare amount
average_fare = df_cleaned['fare_amount'].mean()

print(average_fare)

11.359955250000002

#### Average_fare == 11.359955250000002

In [7]:
# Assuming you have a DataFrame named df with 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', and 'dropoff_longitude' columns

def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    
    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    
    # Radius of Earth in kilometers (mean value)
    radius_earth = 6371.0
    
    # Calculate the distance
    distance = radius_earth * c
    return distance

# Calculate Haversine distances for each row
df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

# Calculate the median Haversine distance
median_haversine_distance = df['haversine_distance'].median()

print(median_haversine_distance)

2.120992396182902

#### median_haversine_distance == 2.120992396182902

In [8]:
# Assuming you have already calculated the Haversine distances and stored them in a 'haversine_distance' column in your DataFrame
max_haversine_distance = df['haversine_distance'].max()

print(max_haversine_distance)

16409.23913531317

#### max_haversine_distance == 16409.23913531317

In [9]:
# Assuming you have a DataFrame named df with a 'haversine_distance' column
rides_with_zero_distance = df[df['haversine_distance'] == 0.0]
count_of_zero_distance_rides = len(rides_with_zero_distance)

print(count_of_zero_distance_rides)

5632

#### count_of_zero_distance_rides == 5632

In [10]:
# Assuming you have a DataFrame named df with a 'fare_amount' column and a 'haversine_distance' column
mean_fare_for_zero_distance_rides = df[df['haversine_distance'] == 0.0]['fare_amount'].mean()

print(mean_fare_for_zero_distance_rides)

11.585317826704546

#### mean_fare_for_zero_distance_rides == 11.585317826704546

In [11]:
# Assuming you have a DataFrame named df with a 'fare_amount' column
max_fare_amount = df['fare_amount'].max()

print(max_fare_amount)

499.0

#### max_fare_amount == 499.0

In [12]:
# Assuming you have a DataFrame named df with 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude', and 'fare_amount' columns

# Find the row with the highest 'fare_amount'
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]

# Calculate the Haversine distance for the costliest ride
costliest_haversine_distance = haversine(
    costliest_ride['pickup_latitude'].values[0],
    costliest_ride['pickup_longitude'].values[0],
    costliest_ride['dropoff_latitude'].values[0],
    costliest_ride['dropoff_longitude'].values[0]
)

print(costliest_haversine_distance)

0.0007899213191009994

#### costliest_haversine_distance == 0.0007899213191009994

In [14]:
# Assuming you have a DataFrame named df with a 'pickup_datetime' column
# Convert 'pickup_datetime' to datetime
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Filter for rides in the year 2014
rides_in_2014 = df[df['pickup_datetime'].dt.year == 2014]
count_of_rides_in_2014 = len(rides_in_2014)

print(count_of_rides_in_2014)

29968

#### count_of_rides_in_2014 == 29968

In [15]:
# Assuming you have a DataFrame named df with a 'pickup_datetime' column
# Convert 'pickup_datetime' to datetime
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Filter for rides in the first quarter of 2014 (January to March)
rides_in_first_quarter_2014 = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.quarter == 1)]
count_of_rides_in_first_quarter_2014 = len(rides_in_first_quarter_2014)

print(count_of_rides_in_first_quarter_2014)

7687

#### count_of_rides_in_first_quarter_2014 == 7687

In [16]:
# Assuming you have a DataFrame named df with a 'pickup_datetime' column
# Convert 'pickup_datetime' to datetime
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Filter for rides in September 2010
rides_in_september_2010 = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

# Group by day of the week and count the number of rides for each day
day_of_week_counts = rides_in_september_2010['pickup_datetime'].dt.day_name().value_counts()

# Find the day with the maximum rides
day_with_max_rides = day_of_week_counts.idxmax()

print(day_with_max_rides)

Thursday

#### day_with_max_rides == Thursday

In [51]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,accuracy_score

In [50]:
df = pd.read_excel(r"D:\Data Sets\uber_rides_data.xlsx")
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = np.radians(lat1)
    lon1 = np.radians(lon1)
    lat2 = np.radians(lat2)
    lon2 = np.radians(lon2)
    
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c
    return distance

In [52]:
df['haversine_distance'] = df.apply(lambda row:
haversine(row['pickup_latitude'], row['pickup_longitude'],
row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

In [53]:
median_haversine_distance = df['haversine_distance'].median()

In [54]:
df.drop(['pickup_datetime', 'pickup_longitude','pickup_latitude','dropoff_longitude', 'dropoff_latitude'],axis=1,inplace=True)

#As the tagret column is contionus data we cant apply calssifiers here
so KNN classifier and descision tree classifier can be ruled out

In [55]:
from sklearn.impute import SimpleImputer

# Create a SimpleImputer for mode imputation
imputer = SimpleImputer(strategy='most_frequent')  # Use 'most_frequent' for mode imputation

# Apply the imputer to fill missing values
df_filled = imputer.fit_transform(df)
df = pd.DataFrame(df_filled, columns=df.columns)
X = df.drop('fare_amount', axis=1)
y = df['fare_amount']

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
test_size=0.3, random_state=42)

In [57]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [58]:
model = LinearRegression()

In [59]:
model.fit(X_train_scaled, y_train)

LinearRegression()

In [60]:
y_pred = model.predict(X_test_scaled)

In [61]:
r2 = r2_score(y_test, y_pred)

In [62]:
adjusted_r2 = 1 - (1 - r2) * (len(y) - 1) / (len(y) - X.shape[1] - 1)

In [63]:
print(f"R-squared score: {r2}")
print(f"adj R-squared score: {adjusted_r2}")

R-squared score: 0.0007168255818721381
adj R-squared score: 0.0007018360344649421

In [64]:
#random forest
X = df.drop('fare_amount', axis=1)
y = df['fare_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y,
test_size=0.3, random_state=42)

In [65]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [67]:
model1 = RandomForestRegressor()

In [68]:
model1.fit(X_train, y_train)

y_pred1 = model1.predict(X_test)

r2 = r2_score(y_test, y_pred1)

adjusted_r2 = 1 - (1 - r2) * (len(y) - 1) / (len(y) - X.shape[1] - 1)

In [69]:
print(f"R-squared score: {r2}")
print(f"adj R-squared score: {adjusted_r2}")

R-squared score: 0.6192736099018429
adj R-squared score: 0.6192678988917713